@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf') format('truetype');
  /* src: local('Montserrat') url('Montserrat-Regular.ttf') format('truetype'); */
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Bold.ttf') format('truetype');
  /* src: local('Montserrat-Bold') local('Montserrat Bold') url('Montserrat-Bold.ttf') format('truetype'); */
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-ExtraBold.ttf') format('truetype');
  /* src: local('Montserrat-ExtraBold') local('Montserrat ExtraBold') url('Montserrat-ExtraBold.ttf') format('truetype'); */
  font-weight: 1000;
  font-display: swap;
}

@font-face {
  font-family: 'Merriweather';
  src: url('Merriweather-Regular.ttf') format('truetype');
  /* src: local('Merriweather') url('Merriweather-Regular.ttf') format('truetype'); */
  font-display: swap;
}
@font-face {
  font-family: 'Merriweather';
  src: url('Merriweather-Bold.ttf') format('truetype');
  /* src: local('Merriweather-Bold') local('Merriweather Bold') url('Merriweather-Bold.ttf') format('truetype'); */
  font-weight: bold;
  font-display: swap;
}