@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat') url('Montserrat-Regular.ttf');
  font-display: swap;
}
/* @font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold') local('Montserrat Bold') url('Montserrat-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold') local('Montserrat ExtraBold') url('Montserrat-ExtraBold.ttf');
  font-weight: 1000;
  font-display: swap;
} */

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather') url('Merriweather-Regular.ttf');
  font-display: swap;
}
/* @font-face {
  font-family: 'Merriweather';
  src: local('Merriweather-Bold') local('Merriweather Bold') url('Merriweather-Bold.ttf');
  font-weight: bold;
  font-display: swap;
} */